.navbar {
  width: 100%;
  background-color: rgba(18, 18, 18, 0);
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  padding: 0.75rem;
  padding-left: 1.25rem /* 20px */;
  padding-right: 1.25rem /* 20px */;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 9999;
  transition: all 0.2s linear;
}
.navbarScrolled {
  background-color: rgba(2, 2, 2, 0.5) !important;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.logo {
  width: 5rem;
}

.phoneContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.callbutton {
  display: flex;
  color: white;
  align-items: center;
  z-index: 10;
  margin-right: 1rem;
  padding: 0.6rem;
  transition: all 0.2s linear;
  border-radius: 5px;
}

.callbutton:hover {
  background-color: rgba(4, 93, 134, 0.466);
}

.callbutton.phone:hover {
  background-color: rgba(41, 134, 4, 0.466);
}

.number {
  margin-left: 1.2rem;
  font-size: large;
  display: none;
}

@media screen and (min-width: 700px) {
  .logo {
    width: 5rem;
  }
  .phoneContainer {
    flex-direction: column;
  }
  .callbutton {
    margin-right: 0.2rem;
  }
  .number {
    display: unset;
  }
}
