.container {
  width: 100%;
  background-color: var(--black);
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.itemWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
  height: 30rem;
}
.item {
  overflow-y: scroll;
  width: 100%;
  max-width: 20rem;
  background-color: inherit;
  /* border: 2px solid black; */
  border-radius: 2rem;
  padding: 1rem;
  padding-bottom: 2rem;
}
.itemOverlay {
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10rem;
  background-image: linear-gradient(to top, var(--black) 20%, transparent);
}
.itemTitleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.itemTitle {
  color: var(--red);
  margin-bottom: 1rem;
  font-size: 1.3rem;
  font-weight: bolder;
}
.menuItem {
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.menuItemTitle {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--white);
}

.menuItemDiscription {
  font-size: 0.9rem;
  font-weight: 200;
  color: var(--white);
}
.menuItemAlergener {
  font-size: 0.9rem;
}

.menuItemPrice {
  display: flex;
  justify-content: flex-end;
  color: var(--red);
  font-size: 0.9rem;
  font-weight: 600;
}
