@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;600;700&display=swap');

:root {
  --red: #eeb319;
  --black: rgb(18, 18, 18);
  --white: white;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Oswald', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
  background: black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Swiper Carousel Styles */
.swiper-pagination-bullet {
  background: var(--white) !important;
}
.swiper-pagination-bullet-active {
  background: var(--red) !important;
}
